body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.contactManager {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  width: 80%;
  background-color: bisque;
}

.contactDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nameList {
  list-style: none;
  padding: 5px;
  margin: 3px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
